<%= form_with(model: product_idea, local: true) do |form| %>
    <% if product_idea.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product_idea.errors.count, "error") %> prohibited this product idea from being saved:</h2>
        <ul>
          <% product_idea.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
  
    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
  
    <div>
      <%= form.label :status %>
      <%= form.text_field :status %>
    </div>
  
    <%= form.submit %>
  <% end %>